@font-face {
  font-family: trebuc;
  src: url("../../fonts/Trebuchet_MS.ttf");
}

@font-face {
  font-family: yugothib;
  src: url("../../fonts/yugothib.ttf");
}

@font-face {
  font-family: Segoe_UI;
  src: url("../../fonts/Segoe_UI.ttf");
}

* {
  box-sizing: border-box;
  font-family: Segoe_UI;
}
