@font-face {
  font-family: trebuc;
  src: url("../../fonts/Trebuchet_MS.ttf");
}

@font-face {
  font-family: yugothib;
  src: url("../../fonts/yugothib.ttf");
}

@font-face {
  font-family: Segoe_UI;
  src: url("../../fonts/Segoe_UI.ttf");
}

* {
  box-sizing: border-box;
  font-family: Segoe_UI;
}

:root {
  font-size: 10px;

  // ............ color variable............
  --text-black: #000;
  --text-white: #fff;
  --text-f1: #1f1f1f;
  --text-cc: #cccccc;
  --text-be: #3281be;
  --text-48: #333e48;
  --text-93: #005393;
  --text-f7: #4f9df7;
  --text-5b: #0b1f5b;
  --text-01: #0d0101;
  --text-32: #202732;
  --text-red: #ff0000;
  --text-89: #898989;
  --text-d0: #d0d0d0;
  --text-ec: #ecf7ff;
  --text-70: #707070;
}
// ............body..........
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-01);
}
// ............body..........End

// ...........Section Container and padding of container..........
.section_container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  // section_container helper.........
  &.container_left_helper {
    padding-left: 140px;
    @media (max-width: 1199px) {
      padding-left: 1.5rem;
    }
  }
  &.container_right_helper {
    padding-right: 140px;
    @media (max-width: 1199px) {
      padding-right: 1.5rem;
    }
  }
}

// ...........Section Container..........End

// ..............................Header Style.........................
.logo_img {
  max-height: 2.7rem;
  @media (max-width: 600px) {
    max-height: 2rem;
  }
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  .navbar_list {
    .nav-item {
      margin-right: 8.3rem;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      @media (max-width: 1199px) {
        margin-right: 0px;
      }
      &:last-child {
        margin-right: 0px;
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }
    a {
      font-size: 1.4rem;
      color: var(--text-black) !important;
      font-family: trebuc;
      text-transform: uppercase;
    }
    .btn_nav_item {
      background: linear-gradient(#3384c1 0%, #0b1f5b 100%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22rem;
      height: 7rem;
      color: var(--text-white) !important;
      @media (max-width: 600px) {
        width: 15rem;
      }
    }
  }
}

// ..............................Header Style.........................End

// ..............................Heading.............................
h1 {
  font-size: 5rem;
  @media (max-width: 600px) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.4rem;
}
// ..............................Heading.............................End

// .............................Text, Background classes ............
.text_primary {
  color: var(--text-5b);
}
.text_48 {
  color: var(--text-48);
}
.text_be {
  color: var(--text-be);
}
.text_f7 {
  color: var(--text-f7) !important;
}
.text_01 {
  color: var(--text-01);
}
.text_red {
  color: var(--text-red) !important;
}
.bg_32 {
  background: var(--text-32);
}
// bg

.bg_d0 {
  background: var(--text-d0);
}

// .............................Fonts classes ............
// .............................Fonts classes ............

.font_14 {
  font-size: 1.4rem;
}
.font_13 {
  font-size: 1.3rem;
}

// .............................Text, Background classes ............End

// ............................Footer Style.......................
footer {
  background: var(--text-32);
  padding-top: 6.4rem;
  padding-bottom: 3.9rem;
  color: var(--text-white);
  @media (max-width: 600px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .light_logo {
    height: 3.84rem;
    display: inline-block;
    margin-bottom: 2.4rem;
  }
  p.paragraph {
    font-size: 1.4rem;
  }
  p {
    font-family: yugothib;
  }
  .footer_nav_list {
    display: flex;
    flex-flow: row wrap;
    li {
      margin-right: 4rem;
      margin-bottom: 2.37rem;
      .nav_link {
        color: var(--text-white);
        font-family: trebuc;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .footer_copyright {
    font-size: 1rem;
    font-family: yugothib;
    margin-top: 5.6rem;
    @media (max-width: 600px) {
      margin-top: 2rem;
    }
  }
}
// ............................Footer Style.......................End
