// ....................Section title Components .................
.section_title {
  font-family: trebuc;
  &.section_title_mb {
    margin-bottom: 6rem;
  }
  &.title_border_bottom {
    border-bottom: 1px solid #0b1f5b;
  }
  h1 {
    font-family: trebuc;
    &.title_mb {
      margin-bottom: 2.1rem;
    }
  }

  &.title_padding {
    padding-top: 6.7rem;
    padding-bottom: 6.7rem;
  }

  //
  &.section_title_sub {
    padding-bottom: 2rem;
    h3 {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

.section_title_content {
  font-family: yugothib;
  h3 {
    font-size: 3rem;
    margin-bottom: 3.9rem;
  }
  a.btn_light {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 4rem;
    svg {
      vertical-align: middle;
    }
  }
  p {
    font-size: 1.6rem;
  }
}
// ....................Section title Components .................End

// ....................Button Components .......................
.btn_be_action {
  background: var(--text-be);
  color: var(--text-white);
  border: none;
  outline: none;
  text-align: center;
  font-family: yugothib;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 0px var(--text-93);
  &.action_dark {
    background: var(--text-32);
    box-shadow: 0px 2px 0px var(--text-32);
  }
  &.action_mt {
    margin-top: 1.1rem;
  }
  &.sm_size {
    font-size: 1.3rem;
    padding: 1.2rem;
    min-width: 18rem;
  }
}
.btn_light {
  text-decoration: none;
  background: var(--text-white);
  display: inline-block;
  min-width: 30rem;
  font-size: 2.2rem;
  padding: 1.9rem;
  text-transform: uppercase;
  color: var(--text-5b) !important;
  img {
    margin-right: 0.5rem;
  }
}
.btn_dark {
  text-decoration: none;
  background: var(--text-32);
  color: var(--text-white) !important;
  width: 18rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  &.btn_mt {
    margin-top: 6.4rem;
  }
}
.btn_action_more {
  font-size: 2.2rem;
  color: var(--text-be);
  border: 2px solid var(--text-be);
  width: 30rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 6.4rem;
  &.btn_mt {
    margin-top: 3.9rem;
  }
  &.btn_mb {
    margin-bottom: 7.3rem;
  }
}
// ....................Button Components .......................End

// ...................User line, box Components. .................
.user_progress_box {
  padding-top: 3.2rem;
  padding-bottom: 6.3rem;
  width: 100%;
  .progress_box {
    height: 8rem;
    background: var(--text-ec);
    .progress_limit {
      background: linear-gradient(#3384c1 0%, #0b1f5b 100%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--limit-count);
    }
  }
}
// ...................User line, box Components. .................End

// ...................Content list Components. .................
.content_list_wrapper {
  .heading_title {
    margin-bottom: 3.6rem;
    font-weight: bold;
  }
  .content_list {
    li {
      border-bottom: 1px solid var(--text-70);
      padding-bottom: 2.45rem;
      padding-top: 2.65rem;
    }
    .list_foot {
      span {
        font-size: 1.4rem;
        margin-right: 2.2rem;
      }
      a {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
// ...................Content list Components. .................End

// ....................Table Components ........................
.section_table_wrapper {
  background: rgba(112, 112, 112, 0.5);
  position: relative;
  user-select: none;
  margin-bottom: 10.9rem;
  tr {
    font-size: 1.8rem;
    font-family: yugothib;
    td {
      border: none;
      padding-bottom: 3.4rem;
      &:nth-child(odd) {
        font-weight: bold;
      }
    }
    &:last-child{
      td{
        padding-bottom: 0px;
      }
    }
  }
  .table_overlap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.6rem;
    color: var(--text-white);
    text-align: center;
  }
}
// ....................Table Components ........................End
